root {
  /* DARK */
  --bg-color-background: #1e1e1e;
  --color-h1: #f5f5f5;
  --color-h2: white;
  --bg-color-summary: #323232cc;
  --border-th-td: 1px solid black;
  --color-th-td: #e0e0e0;
  --bg-color-th: black;
  --color-th: white;
  --bg-color-odd: #000b1ab3;
  --bg-color-even: #001b40b3;
  --bg-color-speedster: #004f63b3;
  --bg-color-brawler: #a20000b3;
  --bg-color-trickster: #5b0080b3;
  --bg-color-defender: #006400b3;
  --bg-color-common: #004f63b3;
  --bg-color-rare: #5b0080b3;
  --bg-color-epic: #9f3200b3;
  --color-superCharge: #00df00d5;
  --bg-color-close: #a39000b3;
  --color-close: #ffffffb3;
  --bg-color-warning: #a30202b3;
  --color-warning: #ffffffb3;
  --bg-color-zero: #bfceffb3;
  --color-zero: black;
  --font-weight-zero: 400;
  --bg-color-label: #31313180;
  --color-label: #f5f5f5;
  --bg-color-select-input: black;
  --color-select-input: white;
  --bg-color-button: #700074;
  --bg-color-level-gray: #d3d3d3b3;
  --color-level-gray: black;
  --bg-color-level-red: #9d0e0eb3;
  --color-level-red: white;
  --bg-color-level-yellow: #c8c82bb3;
  --color-level-yellow: white;
  --bg-color-level-green: #005f00b3;
  --color-level-green: white;
  --bg-color-level-light-blue: #008c8cb3;
  --color-level-light-blue: white;
  --bg-color-level-dark-blue: #004283b3;
  --color-level-dark-blue: white;
  --bg-color-level-purple: #590e7eb3;
  --color-level-purple: white;
  --bg-color-level-violet: #3d0a70b3;
  --color-level-violet: white;
  --bg-color-level-black: #000000b3;
  --color-level-black: #fff;
  --font-weight-level-black: 400;
  --bg-color-display: #006703;
  --color-display: white;
  --bg-color-display-active: #8c0000;
  --bg-color-setting-panel-div: black;
  --bg-color-switch: black;
  --bg-color-slider-before: black;
  --bg-color-input-checked-slider: white;
  --box-shadow-input-focus-slider: 0 0 1px white;
}

[data-theme='light'] {
  --bg-color-background: white;
  --color-h1: white;
  --color-h2: black;
  --bg-color-summary: black#00000080;
  --border-th-td: 1px solid #ddd;
  --color-th-td: black;
  --bg-color-th: #ff9e25;
  --color-th: black;
  --bg-color-odd: #ccccccb3;
  --bg-color-even: #ffffffb3;
  --bg-color-speedster: #28d3fdb3;
  --bg-color-brawler: #ff5a5ab3;
  --bg-color-trickster: #e93fffb3;
  --bg-color-defender: #21e221b3;
  --bg-color-common: #25ffffb3;
  --bg-color-rare: #bb3aeeb3;
  --bg-color-epic: #ff590db3;
  --color-superCharge: green;
  --bg-color-close: #ffff00b3;
  --color-close: black;
  --bg-color-warning: #ff0000b3;
  --color-warning: white;
  --bg-color-zero: #000000b3;
  --color-zero: white;
  --font-weight-zero: 400;
  --bg-color-label: #00000080;
  --color-label: white;
  --bg-color-select-input: white;
  --color-select-input: black;
  --bg-color-button: #7f4caf;
  --bg-color-level-gray: #d3d3d3b3;
  --color-level-gray: black;
  --bg-color-level-red: #ff6666b3;
  --color-level-red: black;
  --bg-color-level-yellow: #ffff00b3;
  --color-level-yellow: black;
  --bg-color-level-green: #00ff00b3;
  --color-level-green: black;
  --bg-color-level-light-blue: #00ffffb3;
  --color-level-light-blue: black;
  --bg-color-level-dark-blue: #3399ffb3;
  --color-level-dark-blue: black;
  --bg-color-level-purple: #cc66ff;
  --color-level-purple: black;
  --bg-color-level-violet: #7f00ffb3;
  --color-level-violet: black;
  --bg-color-level-black: #000000b3;
  --color-level-black: #fff;
  --font-weight-level-black: 400;
  --bg-color-display: #4caf50;
  --color-display: black;
  --bg-color-display-active: #df5555;
  --bg-color-setting-panel-div: white;
  --bg-color-switch: white;
  --bg-color-slider-before: white;
  --bg-color-input-checked-slider: black;
  --box-shadow-input-focus-slider: 0 0 1px black;
}
