h1 {
  text-align: center;
  margin: 10px 0;
}

.Header {
  border: 1px solid black;
}

.btn {
  border: 1px solid black;
  background-color: white;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
}

.btn-group {
  display: flex;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.btn-group button {
  border: none;
  background-color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-group button:not(:last-child) {
  border-right: 1px solid black;
}

.btn-group button:hover {
  background-color: #f0f0f0;
}

.HeaderBtns {
  display: flex;
  justify-content: space-around;
}

.AccountStats {
  height: 300px;
  border: 1px solid black;
}

.OptionBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

table {
  border-collapse: collapse;
  margin: auto;
}

thead {
  position: sticky;
  top: 0;
}

th,
td {
  border: 1px solid black;
  padding: 3px;
  text-align: center;
  color: black;
}

th {
  max-width: 85px;
  box-sizing: border-box;
  background-color: black;
  color: white;
}

td img {
  display: block;
  height: 80px;
  border: none;
}

/* Appliquer un fond sombre à chaque ligne impaire */
tbody tr:nth-child(odd) {
  background-color: white;
}

/* Appliquer un fond clair à chaque ligne paire */
tbody tr:nth-child(even) {
  background-color: gray;
}

th.racerCurrentStars {
  background-image: url('/img/Star.webp');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 60px;
}

th.currentSuperChargeLevel {
  background-image: url('/img/SuperCharge.webp');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 60px;
}

th.TuneCoin {
  background-image: url('/img/TuneCoin.webp');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 60px;
}

.tableContainer {
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tableContainer::-webkit-scrollbar {
  display: none;
}
